#backGroundContainer{
    margin:auto;
    padding:10px;
    height:350px;
    width:100%;
    max-width:1100px;
    margin-top:130px;
}
#chessClubBody{
    margin:auto;
}
#backGround{
    background-image: URL("../../images/chessClubBg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}
#chessClubRightLeftContainer{
    margin:auto;
    width: 100%;
    max-width:1100px;
    display: flex;
}
#leftSide{
    width:200px;
    background-color: rgb(237, 235, 235);
    height:150px;
    width:250px;
    padding:20px;
    border-radius: 25px;
}
#rightSide{
    margin-left:20px;
    width:100%;
    
}
input[type=text]{
    width:90%;
}