#Burger{
    
    background-color: white;
    margin-left:1rem;
    color:gray;
}
#Burger:hover{
    background-color: blue;
    color:white;
}
#userProfileImg{
    border-radius: 50%;
    height:40px;
    width:40px;
    margin-right:70px;
}
#burgerAndLogo{
    display: flex;
    align-items: center;
    align-content: center;
}
#topBar{
    /* margin-top:10px; */
    width:100%;
    height:70px;   
    border-bottom:2px solid rgb(201, 201, 201);
    -webkit-box-shadow: 3px 3px 10px 3px #757575;
    -moz-box-shadow: 3px 3px 10px 3px #757575;
    box-shadow: 3px 3px 10px 3px #757575;
    display:flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    z-index: 2;
    top:0;
    background-color: white;
   
}
#topBar h2{
    margin-left:2rem;
}
#drawer ul{
    list-style:none;
}
#drawer ul li{
    /* margin-top:20px; */
    font-size:20px; 
    cursor:pointer;
    height:60px;
    align-items: center;
   display:flex;
   padding-left:10px;
}

#drawer #activeSideBar:hover{
    color:white; 
}
#drawer ul li:hover{
    color: blue;
}
#burgerAndLogo a{
    text-decoration: none;
    color:inherit;
    }
    #switch{
        position: absolute;
        top: 50%;  
        left: 50%; 
        transform: translate(-50%, -50%);
        display: flex;
        height:100%;
        margin-bottom:2px;
    }
    #switchActive{
        margin-bottom:0px;
        border-bottom:2px solid blue;
        color:blue;
        height:100%;
    }
    .switchOption{
        color:black;
        text-decoration: none;
        margin-bottom:2px;
        height: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        font-size: 20px;
        cursor: pointer;
    }
    #switch a {
        text-decoration: none;
        color: inherit;
    }
    .switchOption:hover:not(#switchActive){
        color: blue;
        background-color: #f3f2f2;
    }
    
    @media only screen and (max-width: 850px){
        #switch{
            top:90px;
            text-align: center;
            height:30%;
        }
        #topBar{
            height:107px;
        }
    }
    @media only screen and (max-width: 400px){
        #switch{
            top:95px;
            text-align: center;
            
        }
        #topBar{
            height:115px;
        }
        #userProfileImg{
            margin-right:20px;
        }
    }